<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Forum Homepage</title>
</head>

<body>
    <%- include ('partials/menu.ejs') %>
    <div class="contents">
        <h1>Forum Homepage</h1>
        <ul class="compost-list">
        <% postList.forEach(post => { %>
            <li>
                <div class="compost-sidetoside">
                <h2><a href="/posts/<%= post.id %>">
                    <%= (post.title.length > 30)? post.title.substring(0, 30) + '...' : post.title %></a></h2>
                <p><%= post.timestamp.toLocaleString(undefined, {
                    timeStyle: 'short',
                    dateStyle: 'medium'
                }) %></p>
                </div>
                <p><%= (post.contents.length > 200)? post.contents.substring(0, 200) + '...' : post.contents %></p>
            </li>
        <% }) %>
        </ul>
    </div>
</body>

</html>