<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= post.title %></title>
</head>

<body>
    <h1><%= post.title %></h1>
    <h2><a href="/posts">&lt; Back</a></h2>
    <p><%= post.timestamp.toLocaleString(undefined, {
        timeStyle: 'short',
        dateStyle: 'medium'
    }) %></p>
    <p style="padding-left:40px;"><%= post.contents %></p>

    <hr>
    
    <h2>Comments</h2>
    <p>add some way to check if user is logged in & add comments here</p>
    <% if (commentChunks.length == 0) { %>
        <p>No comments so far</p>
    <% } else { %>
        <ul class="compost-list">
            <% commentChunks.forEach(commentBit => {
                const topComment = commentBit[0][0];
                const topAuthor = commentBit[0][1];
                const nestComments = commentBit[1];
            %>
                <li style="margin-bottom: 20px">
                <div class="compost-datetime">
                <h3><%= topAuthor %></h3>
                <p><%= topComment.timestamp.toLocaleString(undefined, {
                    timeStyle: 'short',
                    dateStyle: 'medium'
                }) %></p>
                </div>
                <p style="margin-top:10px; margin-bottom:10px"><%= topComment.contents %></p>

                <% if (nestComments.length > 0) { %>
                    <ul class="reply-reply-list">
                        <% nestComments.forEach(nestbit => {
                            const nestComments = nestbit[0];
                            const nestAuthor = nestbit[1];
                        %>
                            <li class="reply-reply-item">
                                <div class="compost-datetime">
                                <h3><%= nestAuthor %></h3>
                                <p><%= nestComments.timestamp.toLocaleString(undefined, {
                                    timeStyle: 'short',
                                    dateStyle: 'medium'
                                }) %></p>
                                </div>
                                <p style="margin-top:10px; margin-bottom:-15px"><%= nestComments.contents %></p>
                            </li>
                        <% })%>
                    </ul>
                <% } %>
                </li>
            <% }) %>
        </ul>
    <% } %>
</body>

</html>